---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
const email = "ken@example.com";
const title = "Contact";
---

<Layout title={title}>
    <Section>
        <h1>Contact Us</h1>
        <p>You can contact me at <a href={`mailto:${email}`}>{email}.</a></p>
        <img src="images/me.png" alt="Ken" />
    </Section>
</Layout>"
