<header id="header">
		<div class="content">
			<h1>
				<!-- header goes here (hint: use <span class="accent"> for accented text) -->
			</h1>
			<p class="description">
				<!-- description goes here -->
			</p>
			<div class="button-container">
				<!-- view projects link goes here -->
				<!-- download resume link goes here (hint: use the download property) -->
			</div>
		</div>
		<!-- image goes here -->
</header>