<header id="header">
		<div class="content">
			<h1>
				<!-- header goes here (hint: use <span class="accent"> for accented text) -->
                Hi. I am Ken. <span class="accent">Data Scientist</span> Aspirant!
			</h1>
			<p class="description">
				<!-- description goes here -->
                Computer  Science  undergraduate  specializing  in  data  analysis,  SQL,  
                and  data  visualization.  Experienced  inexploratory  data  analysis  (EDA),  
                dashboarding  with  Power  BI  &  Tableau,  and  data-driven  projects  using
                Python and SQL.
			</p>
			<div class="button-container">
				<!-- view projects link goes here -->
                <a href="/projects">
                    View Projects
                </a>

				<!-- download resume link goes here (hint: use the download property) -->
				<a href="/resume.pdf" download>
					Download Resume
				</a>
			</div>
		</div>
		<!-- image goes here -->
        <img src="/images/me.png" alt="Profile Image" class="profile-image" />
</header>